/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url('background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    


.container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    height: 95vh;
}

/* Header */
.header h1 {
    text-align: center;
    font-size: 24px;
    color: #ff5722;
}

/* Profile Section */
.profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ff5722;
}

.edit-profile-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Section Styles */
section {
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 1px solid #ff5722;
    margin-bottom: 10px;
    font-size: 18px;
}

/* Inputs and Buttons */
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #1e1e1e;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff5722;
    color: #fff;
}

button.chat-support-btn {
    background-color: #ff5722;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

/* Scrollbar */
.container {
    scrollbar-color: #ff5722 #333;
    scrollbar-width: thin;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #ff5722;
    border-radius: 10px;
}

.container::-webkit-scrollbar-track {
    background: #333;
}
